@import "config";

.cart {
  max-width: $max-width;
  margin: 0 auto;

  &__title {
    margin-top: $gutter * 2;
    margin-bottom: $gutter;
    font-size: 2.5em;
    font-family: $font-heading;
  }
}


.product {
  display: flex;
  flex-direction: column;

  &__text {
    margin-bottom: $gutter *3;
    height: 100%;
  }

  &__title {
    margin-bottom: $gutter * 0.5;
    font-family: $font-heading;
    font-size: 2em;
  }

  &__textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 2em;
    width: 25%;
    font-size: 1em;
    border: 1px solid $color-black;
    border-radius: 3px;

  }

  &__image {
    margin-bottom: $gutter;
  }

  &__price {
    font-weight: bold;
    font-size: 1.5em;
  }

  &__manage-cart {
    display: flex;

  }
}

.content__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: $gutter;
}
