@import "config";

.cart {
  max-width: $max-width;
  margin: 0 auto;

  &__title {
    margin-top: $gutter * 2;
    margin-bottom: $gutter;
    font-size: 2.5em;
  }

  &__form {
  }
}


.product {
  margin: $gutter * 3;
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: $gutter * 0.5;
    font-family: $font-heading;
    font-size: 2em;
  }

  &__image {
    margin-bottom: $gutter;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.content__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: $gutter;
}