// TODO stillingar hér
$font-heading: "Oswald", sans-serif;
$font-main: 'Open Sans', sans-serif;

/*Litir*/
$color-black: #000000;
$color-white: #fffcf2;
$color-orange: #ff5000;
$color-blue: #00b7ff;

$max-width: 1200px;

$gutter: 20px;

$transition: 200ms ease-in-out;