@import "config";

* {
    padding: 0;
    margin: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  .footer {
    background-color: $color-blue;
    height: 20em;
    display: flex;
    
  
    &__grid {
      max-width: $max-width;
      margin: 0 auto;
      padding-top: $gutter * 2;
      padding-bottom: $gutter * 2;
    }

    &__row {
      margin-bottom: $gutter * 2;
      @include row;
    }

    &__col {
      margin-bottom: 0;
    }
    
    &__title {
      font-family: $font-heading;
      margin-bottom: $gutter;
      color: $color-black;
      font-weight: bold;
    }

    &__item {
      color: $color-white;
      transition: color $transition;
      list-style-type: none;

      &:hover {
        color: $color-black;
      }
    }
    
    &__copyright {
      text-align: center;
      width: 100%;
      font-family: $font-main;
      font-size: 0.75em;
      padding-bottom: $gutter*2;
    }
}


