@import "config";

* {
    padding: 0;
    margin: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  .footer {
    background-color: $color-blue;
    height: 20em;
  
    &__grid {
      max-width: $max-width;
      margin: 0 auto;
      padding-top: $gutter * 2;
    }

    &__row {
      margin-bottom: $gutter * 2;
      @include row;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__col {
      margin-bottom: -($gutter);
    }
    
    &__title {
      font-family: $font-heading;
      margin-bottom: $gutter;
      color: $color-black;
      font-weight: bold;
    }

    &__list {
      padding: $gutter 0;
      list-style-type: none;
      font-family: $font-main;
    }

    &__item {
      margin-bottom: $gutter *0.5;
    }
    
    &__link {
      color: $color-white;
      transition: color $transition;
      text-decoration: none;
    
      &__link:hover {
        color: $color-black;
      }
    }
    
    &__copyright {
      text-align: center;
      font-family: $font-main;
      font-size: 0.75em;
    }
}

