@import "config";

* {
    padding: 0;
    margin: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  .footer {
    background-color: $color-blue;
    height: 20em;
    width: 100%;
    margin: auto;
    @include row;
    flex-flow: row;
    flex-direction: column;

    &__row {
      display:flex;
      margin-bottom: $gutter;
      @include row;
      flex-wrap: nowrap;
      width: 100%;
      justify-content: space-evenly;
      padding-right: 10em;
    }


    &__col {
      padding-right: $gutter;
    }
    
    &__title {
      font-family: $font-main;
      color: $color-black;
      font-weight: bold;
      margin-top: $gutter;
      margin-bottom: 1em;
    }

    &__list {
      list-style-type: none;
      font-family: $font-main;
    }

    &__item {
      margin-bottom: $gutter * 0.5;
    }
    
    &__link {
      color: $color-white;
      transition: color $transition;
      text-decoration: none;
      
      &:hover {
        color: $color-black;
      }
    }
    
    
    &__copyright {
      font-family: $font-main;
      font-size: 0.875em;
      display: flex;
      justify-content: center;
    }
}

