@import "config";

.form {
  max-width: $max-width;
  margin: auto;
  border: white;

  &__heading {
      font-family: $font-heading;
      font-weight: bold;
      font-size: 2em;
      margin-bottom: $gutter;
    }

    &__row {
    
    }
}
