* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.header__title {
  font-size: 3.5em;
  text-align: center;
  padding-top: 0.5em;
  font-family: $font-heading;
}

.header {
  background-color: $color-orange;
  height: 10em;
}

.header__menu {
  margin: 1.2em;
  word-spacing: 2em;
  font-weight: bold;
  padding-bottom: 1em;
}

.header__list {
  text-align: center;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
}
.list__item {
  display: inline-block;
}
.list__item:hover {
  text-decoration: underline;
}

// TODO fleiri grunn stillingar

// TODO sækja allar sass skrár
