* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.header__title {
  font-size: 60px;
  text-align: center;
  padding-top: 16px;
  font-family: "Oswald", sans-serif;
}

.header {
  background-color: #ff5000;
  height: 10em;
}

.header__menu {
  margin: 18px;
  word-spacing: 2em;
  font-weight: bold;
  padding-bottom: 1em;
}

.header__list {
  text-align: center;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}
.list__item {
  display: inline-block;
}
.list__item:hover {
  text-decoration: underline;
}

// TODO fleiri grunn stillingar

// TODO sækja allar sass skrár
