@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.header {
  background-color: $color-orange;
  height: 10em;

  &__title {
    font-size: 3.5em;
    text-align: center;
    padding-top: 0.5em;
    font-family: $font-heading;
  }

  &__menu {
    margin: 0.4em;
    word-spacing: 2em;
    font-weight: bold;
    padding-bottom: 1em;
  }

  &__list {
    text-align: center;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    font-family: $font-main;
    text-transform: uppercase;
  }

  &__item {
    display: inline-block;

    &:hover {
      color: $color-white;
    }
  }

  &__basket {
    display: flex;
    justify-content: flex-end;
  }

  &__basket--link {
    color: inherit;
    text-decoration: none;
  }

  &__basket--img {
    max-width: 20px;
  }
}
