@import "config";

.cards {
  display: flex;
  flex-wrap: wrap;
  max-width:$max-width;
  margin: auto;
  padding-bottom: $gutter *2;
}

.card {
  display: flex;
  justify-content: space-between;
  padding-top: $gutter *2;

  &--reversed {
    flex-direction: row-reverse;
  }
  &__text {
    align-self: center;
    font-family: $font-main;
    padding: $gutter /2;
    flex-grow: 1;
  }
  &__image {
    display: flex;
    max-width: 50%;
  }
}

@media(max-width: $max-width) {
    .card {
        
    }
}

h2 {
  font-family: $font-heading;
}
