@import "config";

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: $gutter;
}

.card {
  display: flex;
  max-width:$max-width;

  &--reversed {
    flex-direction: row-reverse;
  }
  &__text {
    align-self: center;
    font-family: $font-main;
  }
  &__image {
    
  }
}

h2 {
  font-family: $font-heading;
}
button {
  background-color: $color-blue;
  color: $color-black;
  border: none;
  font-family: $font-main;
}
