@import "config";
@import "button";

.products {
  display: flex;
  padding: 1.25em;
  justify-content: center;
  font-family: $font-main;

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: $max-width;
    padding-bottom: $gutter * 2;
  }

  &__col {
    width: 32%;
  }

  &__title {
    font-size: 2em;
    font-family: $font-heading;
    padding-top: $gutter;
  }

  &__description {
    padding-top: $gutter;
  }

  &__price {
    padding-top: $gutter;
    font-family: $font-heading;
    font-size: 1.5em;
    font-weight: bold;
  }

  &__price--3 {
    padding-top: $gutter * 2;
    font-family: $font-heading;
    font-size: 1.5em;
    font-weight: bold;
  }

  &__form {
    padding-top: $gutter;
  }

  &__form form input {
    border: solid 1px $color-black;
    border-radius: 3px;
    padding: 0.625em;
    width: 60%;
    height: 3em;
  }
}

@media screen and (max-width: 800px) {
  .products {
    &__row {
      flex-direction: row;
    }

    &__col {
      width: 49%;
    }
  }
}

@media screen and (max-width: 500px) {
  .products {
    &__row {
      flex-direction: column;
    }

    &__col {
      width: 100%;
    }
  }
}
