@import "config";

.products {
    display: flex;
    padding: 1.250em;
    justify-content: center;
    font-family: $font-main;

    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: $max-width;
    }

    &__col {
        width: 32%;
        margin: 20px 0;
    }

    &__form form input {
        border: solid 1px $color-black;
        border-radius: 3px;
        padding: 0.625em;
        width: 60%;
        height: 3em;
    }
}